.portfolio {
  position: relative;

  .portfolio-brush-image {
    position: absolute;
    top: 10px;
    left: 30px;
  }
  img {
    width: 100%;
  }
  .title {
    span {
      font-size: 24px;
      font-weight: 500;
      color: var(--color-brand--1);
      font-family: "Jost", sans-serif;
      display: inline-block;
      margin-bottom: 6px;
    }
    h3 {
      font-size: 48px;
      line-height: 1.25;
      margin-bottom: 23px;
      color: #fff;
    }
    p {
      color: #b9b5c9 !important;
    }
  }
}
@media (max-width: 1600px) {
  .portfolio {
    .title {
      span {
        font-size: 22px;
      }
      h3 {
        margin-bottom: 16px;
        font-size: 38px;
      }
    }
  }
}
@media (max-width: 992px) {
  .portfolio {
    .portfolio-brush-image {
      display: none;
    }
    .title {
      span {
        font-size: 20px;
      }
      h3 {
        font-size: 28px;
      }
    }
  }
}

// Work components style
// .work__filters {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   column-gap: 0.75rem;
//   margin-bottom: 2rem;
// }

// .work__item {
//   cursor: pointer;
//   color: #fff;
//   padding: 0.25rem 0.75rem;
//   font-weight: 500;
//   border-radius: 0.5rem;
// }
// .active-work {
//   background-color: var(--dark-green);
//   color: #fff;
// }

/*===== Work Section =====*/
.grid {
  display: grid;
}
.work__container {
  grid-template-columns: repeat(3, 330px);
  gap: 1.8rem;
  justify-content: center;
  padding-top: 1rem;
}
.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}

.work__item {
  cursor: pointer;
  color: #fff;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

.work__card {
  // background-color: var(--box-color);
  // padding: 1.25rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.work__card-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  transition: top 0.3s ease-in-out;
  cursor: pointer;
}
.work__card:hover .work__card-info {
  top: 0;
}
.portfolio__item-details {
  display: none;
}

.work__img {
  border-radius: 0.5rem;
  // margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}
.work__card:hover .work__img {
  transform: scale(1.6) rotate(20deg);
}
.work__title {
  color: #d6d6dc;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.work__button {
  color: var(--color-brand--1);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}
.work__button-icon {
  font-size: 1rem;
  transition: 0.3s;
}

.work__button:hover .work__button-icon {
  transform: translateX(0.25rem);
}

/* Active Item Work */

.active-work {
  background-color: var(--color-brand--1);
  color: #000;
}

/* Portfolio Popup */
.portfolio__popup * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #d6d6dc;
}
.portfolio__popup {
  h1,
  h2,
  h3 {
    color: #d6d6dc;
    font-weight: 600;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    cursor: pointer;
  }

  button,
  input {
    border: none;
    outline: none;
  }
}

.portfolio__popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.portfolio__popup.open {
  opacity: 1;
  visibility: visible;
}

.portfolio__popup-inner {
  background-color: var(--box-color-light);
  // background-color: var(--box-color);
  width: 900px;
  border-radius: 0.5rem;
  padding: 2.5rem;
  position: relative;
}

.portfolio__popup-content {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}

.portfolio__popup-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  i {
    font-size: 1.5rem;
    color: var(--color-brand--1);
  }
}

.portfolio__popup-img {
  border-radius: 0.5rem;
}
.portfolio__popup-subtitle {
  font-size: 0.813rem;
  margin-bottom: 0.25rem;
}

.details__title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.details__description {
  // font-size: 0.875rem;

  margin-bottom: 2.5rem;
}

.details__info li {
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  font-size: 0.875rem;
}
.details__info li:last-child {
  margin-bottom: 0;
}
.details__info li span {
  font-weight: normal;
}
.details__info li a {
  text-transform: lowercase;
  color: var(--color-brand--1);
}
/*========== BREAKPOINTS ==========*/
/* For Large Devices */

@media screen and (max-width: 1216px) {
  .work__container {
    grid-template-columns: repeat(2, 330px);
    gap: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .work__card {
    padding: 1rem;
  }
  .work__img {
    margin-bottom: 0.75rem;
  }
  .work__title {
    margin-bottom: 0.25rem;
  }

  .testimonial__card {
    padding: 1.25rem 1.5rem;
  }
  .portfolio__item-details {
    margin-bottom: 1.5rem;
  }
  .details__info li {
    margin-bottom: 0.5rem;
  }
  .details__title {
    margin-bottom: 0.75rem;
  }
}

/* For Medium Devices */
@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: 330px;
  }
  .portfolio__popup-inner {
    width: 420px;
    padding: 2.8rem 1.5rem 2.5rem;
  }
  .portfolio__popup-content {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }
  .details__title {
    font-size: 1rem;
  }
  .portfolio__popup-close {
    top: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .work__container {
    grid-template-columns: 300px;
  }
}

/* For Small Devices */
@media screen and (max-width: 350px) {
  .work__container {
    grid-template-columns: 1fr;
  }

  .work__item {
    font-size: 0.875rem;
  }
  .work__filters {
    column-gap: 0.25rem;
  }
}
